table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    float: right;
    margin-right: 50px;
    margin-bottom: 150px;
}
.map{
    margin-top: 100px;
    width: 400px; 
    height: 300px
}
body {
  
    background-position:center;
    background-repeat: repeat-y;

}
.myButton {
    text-align: center;
	-moz-box-shadow:inset 0px 0px 15px 3px #23395e;
	-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
	background-color:#2e466e;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
	background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
	background-color:#415989;
}
.myButton:active {
	position:relative;
	top:1px;
}
.buttons {
    position: relative;
    text-align: center;
}
.bottomLeftTitle{
    text-align:justify;
}
.bottomRightTitle{
    text-align: center;
}
.bottomRightContent{
    text-align: center;
    
}
.buttonList{
    list-style-type: none;
    text-align: center
}
h1{
    position: relative;   
    text-align: center;
    font-family: verdana;
    font-size: 300%;    
}
.leftside{
    position: relative;
    float: left;
}
.rightside{
    position: relative;
    float: right;
}
.ourTeam{
    position: relative;
    text-align: center;
}
.bgClip {
    
    margin-top: 100px;
    top: 3%;
    background-repeat:repeat-x;
    background-position:0 0;
    font-size:70px;
    font-family:'Verdana';
    color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    margin:0;
     -webkit-animation:BackgroundAnimated 15s linear infinite;
    -moz-animation:BackgroundAnimated 15s linear infinite;
    -ms-animation:BackgroundAnimated 15s linear infinite;
    -o-animation:BackgroundAnimated 15s linear infinite;
    animation:BackgroundAnimated 15s linear infinite;
}
    @keyframes BackgroundAnimated {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
    @-webkit-keyframes BackgroundAnimated {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
    @-ms-keyframes BackgroundAnimated {<     from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
    @-moz-keyframes BackgroundAnimated {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
.topLeftTitle{
    width: 50%;
    text-align: left;
}

topRighttitle{
    text-align: center;
}
topLeftContent{
    text-align: left;
    top: auto
}
.pageTable{
   margin: 0px auto; 
   width: 66%;
    margin-left: 17%;
    margin-right: 17%;
    
}
.tableClass{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    position: relative;
    t

}